<% if admin_signed_in? %>
<%= render "shared/header" %>
<main class="dashboard">
  <%= render "admins/shared/menu" %>
  <div class="content">
    <h1>Статистика</h1>
    <h5>Наибольшие потребители воды</h5>
    <div class="tabs">
      <ul class="tabs__menu">
        <li class="tabs__link tabs__link_active">Холодная вода</li>
        <li class="tabs__link">Горячая вода</li>
      </ul>
      <div class="tabs__content tabs__content_active">
        <table class="table">
          <thead>
            <tr>
              <th class="table__th">Пользователь</th>
              <th class="table__th">Значение</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="table__td">екуе</td>
              <td class="table__td">12345678</td>
            </tr>
            <tr>
              <td class="table__td">01-01-2000</td>
              <td class="table__td">12345678</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="tabs__content">
        <table class="table">
          <thead>
          <tr>
            <th class="table__th">Пользователь</th>
            <th class="table__th">Значение</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="table__td">екуе</td>
            <td class="table__td">12345678</td>
          </tr>
          <tr>
            <td class="table__td">01-01-2000</td>
            <td class="table__td">12345678</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
<%= render "shared/footer" %>
<% else %>
  <script> window.location.href="/admins/sign_in" </script>
<% end %>