@import "../common/colors";

$col__padding: 12px;
$left-col__width: 18%;
$left-col__min-width: 100px;
$right-col__width: calc(#{82%} - #{$col__padding});

.dashboard {
  display: flex;

  .menu {
    padding: 0 $col__padding;
    width: $left-col__width;
    min-width: $left-col__min-width;
  }

  .content {
    padding: $col__padding;
    width: $right-col__width;
    border-left: 1px solid $light_blue;
  }
}