@import "../common/colors";

$button__width: 8em;
$button__height: 4em;
$button__border-radius: 8px;

.index, .index__form, .index__button {
  display: flex;
  align-items: center;
}

.index {
  justify-content: space-around;

  &__form, &__button {
    justify-content: center;
    flex-wrap: wrap;
  }

  &__button {
    margin: 1em;
    width: $button__width;
    height: $button__height;
    color: $white;
    background: $blue;
    border-radius: $button__border-radius;
    &:hover {
      background: $dark_blue;
    }
  }
}