<header class="header">
  <div>
    <a class="header__logo" href="<%= root_path %>"></a>
    Данные счётчиков
  </div>
  <div class="header__link">
    <% if customer_signed_in? %>
      <%= link_to 'Выйти', destroy_customer_session_path, :method => :delete %>
    <% elsif admin_signed_in? %>
      <%= link_to 'Выйти', destroy_admin_session_path, :method => :delete %>
    <% end %>
  </div>
</header>




