@import "../common/variables";

$margin: 1em 0;
$padding: .4em .1em;
$border-radius: 6px;

#error_explanation, .field_with_errors {
  margin: $margin;
  padding: $padding;
  text-align: center;
  color: $white;
  background: $dark_blue;
  border-radius: $border-radius;

  h2 {
    font-size: 1em;
  }
}

