@import "../common/variables";

$padding: 1.2em;
$height: 60px;

$logo__height: 32px;
$logo__width: 32px;
$logo__img: '../favicon.svg';


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding;
  height: $height;
  color: $white;
  background: $blue;
  &__logo {
    margin-right: 10px;
    width: $logo__width;
    height: $logo__height;
    vertical-align: middle;
    background: url($logo__img) no-repeat center;
    background-size: cover;
  }
  &__logo, &__link {
    display: inline-block;
  }
}