@import "../common/colors";

.menu {
  &__link  {
    &_active {
      color: $blue;
      &:before {
        content: '- '
      }
      &:hover {
        color: $dark_blue;
      }
    }
    &:hover {
      color: $dark_blue;
    }
  }
}