@import "../common/variables";

$menu__item_margin: 10px;

.menu {
  &__item {
    margin-bottom: $menu__item_margin;
  }
  &__link  {
    &_active {
      color: $blue;
      &:before {
        content: '- '
      }
      &:hover {
        color: $dark_blue;
      }
    }
    &:hover {
      color: $dark_blue;
    }
  }
}