@import "variables";

body, ul {
  margin: 0;
}

body {
  font: normal $font-size $font-family;
  color: $dark_grey;
  background: $white;
  @media all and (max-width: $mobile-device){
    font-size: $font-size_mobile;
  }
}
main {
  padding: 20px .7em;
  min-height: calc(100vh - 140px);
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  text-align: center;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1.2em;
}
h5, h6 {
  font-size: 1em;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}
a, button, input[type="submit"] {
  cursor: pointer;
}
input, button {
  &:focus {
    outline: none;
  }
}