<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item"><%= link_to "Внести данные", "/customers/dashboard", class: "menu__link" %></li>
    <li class="menu__item"><%= link_to "Изменить профиль", "/customers/edit", class: "menu__link" %></li>
  </ul>
</nav>